@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700;900&family=Raleway:wght@200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

button:focus {
	border: none !important;
	outline: none !important;
}
