@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

button:focus {
	border: none !important;
	outline: none !important;
}

.primary-color {
	color: hsla(218, 100%, 42%, 1);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0rem;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(218, 100%, 42%, 1);
}